@keyframes flash {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.TypewriterCursor {
    font-size: 32px;
    opacity: 0;
    animation: flash 1s linear infinite;
}

.TypewriterCursorSmall {
    font-size: 5px;
    opacity: 0;
    animation: flash 1s linear infinite;
}

